@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </Authorized>
   <NotAuthorized>
       you are not authorized for this containe please logged on with valid user
   </NotAuthorized>
</AuthorizeView>



